[submodule "components/sb-vision"]
	path = components/sb-vision
	url = https://github.com/sourcebots/sb-vision.git
[submodule "components/robotd"]
	path = components/robotd
	url = https://github.com/sourcebots/robotd.git
[submodule "components/runusb"]
	path = components/runusb
	url = https://github.com/sourcebots/runusb.git
[submodule "components/robot-api"]
	path = components/robot-api
	url = https://github.com/sourcebots/robot-api.git
[submodule "components/usbmount"]
	path = components/usbmount
	url = https://github.com/rbrito/usbmount
